POSTGRES_DB=<database_name>
POSTGRES_USER=<postgres_user>
POSTGRES_PASSWORD=<secure_password>

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/<database_name>
SPRING_DATASOURCE_USERNAME=<db_user>
SPRING_DATASOURCE_PASSWORD=<db_password>

ADMIN_USERNAME=<admin_user>
ADMIN_EMAIL=<admin_email>
ADMIN_PASSWORD=<secure_admin_password>

APPLICATION_SECURITY_JWT_SECRET=<jwt_secret>
APPLICATION_SECURITY_JWT_EXPIRATION=<access_token_expiration_ms>
APPLICATION_SECURITY_REFRESH_TOKEN_EXPIRATION=<refresh_token_expiration_ms>